version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.11
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - run: 
          command: |
            curl -s -L https://github.com/protocolbuffers/protobuf/releases/download/v3.7.1/protoc-3.7.1-linux-x86_64.zip > /tmp/protoc.zip
            unzip -d /tmp /tmp/protoc.zip
            chmod +x /tmp/bin/protoc
            echo 'export PATH=/tmp/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
            echo $PATH        
      - run: go get -u github.com/golang/protobuf/protoc-gen-go
      - run: make test

