[Unit]
Description=Gaffer microservice manager

[Service]
EnvironmentFile=-/opt/gaffer/etc/gaffer.env
RuntimeDirectory=gaffer
ExecStart=/opt/gaffer/libexec/gaffer-kernel \
  -rpc.sock=${RUNTIME_DIRECTORY}/${GAFFER_SOCK} \
  -rpc.sockgid=${GAFFER_GID} \
  -gaffer.root=${GAFFER_ROOT} \
  -gaffer.service=${GAFFER_SERVICE} \
  -gaffer.port=${GAFFER_PORT} \
  -gaffer.user=${GAFFER_UID} \
  -gaffer.group=${GAFFER_GID} 

[Install]
WantedBy=multi-user.target

