[Unit]
Description=Gaffer Microservice Supervisor
Documentation=https://github.com/djthorpe/gaffer
After=network-online.target

[Service]
User=influxdb
Group=influxdb
LimitNOFILE=65536
ExecStart=/opt/gaffer/bin/gaffer-service \
  -verbose \
  -gaffer.root=ROOT \
  -gaffer.path=PATH \
  -rpc.sslkey=KEY \
  -rpc.sslcert=CERT
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=gaffer.service
